body{
    --main-game-board-height: 100vh;
    --game-container-width-ratio: 0.9;
    background: rgb(68, 0, 255);
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
main{
    --main-width: calc(var(--main-game-board-height)/(2*var(--game-container-width-ratio)));
    display: flex;
    height: var(--main-game-board-height);
    width: var(--main-width);
    background: aliceblue;
}
.game-container{
    --main-game-container-width: calc(var(--game-container-width-ratio)*100%);
    display: flex;
    width: var(--main-game-container-width);
    height: 100%;
    background: #00045a;
    flex-wrap: wrap;
    flex: 1;
}
.score-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((1 - var(--game-container-width-ratio))*100%);
    height: 100%;
    background: red;
    
}
.score-and-level{
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: orange;
    font-family: consolas;
    font-weight: bolder;
    font-size: 1.2rem;
}
.score, .level{
    height: 3rem;
    width: 100%;
}
.next-piece{
    height: 100px;
    width: 100%;
    background: violet;
}
.game-cell{
    display: flex;
    flex-basis: 10%;
    height: 5%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 10%;
    background-size: contain !important;
}
.stick{
    background: url('./assets/stick-cell.svg');
}
.l{
    background: url('./assets/l-cell.svg');
}
.l2{
    background: url('./assets/l2-cell.svg');
}
.s{
    background: url('./assets/s-cell.svg');
}
.s2{
    background: url('./assets/s2-cell.svg');
}
.pyramid{
    background: url('./assets/pyramid-cell.svg');
}
.square{
    background: url('./assets/square-cell.svg');
}
polygon{
    opacity: 0.6;
}
.start-game-overlay,
.end-game-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0.6;
    background: lime;
    text-align: center;
    padding-top: 50%;
    overflow: hidden;
    color: white;
    font-size: 3rem;
}
.hidden{
    display: none;
}